
.dr {
    /* background-color: #121212; */
    color: white;
    border-radius: 4px;
    width: 111px;
    height: auto;
    border: none;
  }

  .MuiMenuItem-root {
    font-size: 17px;
  }




 